<!DOCTYPE html>
<html >

<head>
  <meta charset="UTF-8">
  <title>輕油成份預測</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
 
 <div class="login">  
  <h1 id ='title'>輕油成份分析</h1>

  <br>

    <form id = 'input' action="{{ url_for('predict')}}"method="post">
      <input type="text" name="T10" placeholder="T10 range(55~116)" required="required" />
      <input type="text" name="T50" placeholder="T50 range(84~131)" required="required" />
      <input type="text" name="T90" placeholder="T90 range(122~198)" required="required" />
      <input type="text" name="N+A" placeholder="N+A range(30~65)" required="required" />
      <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>
    
    <br>

    <div id = 'error'>
      {% if error_msg %}
        {{error_msg}}
      {% endif %}
    </div>
    
    <div id = 'output'>
      {% if have_button %}
        <form action="{{ url_for('save')}}" method="get">
          {{ table|safe }}
          <br>
          <button type="submit">save</button>
        </form>
      {% endif %}   
    
    </div>
</body>
</html>
